<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Used for Bootstrap for mobile viewing -->
  <title>Welcome to ITBlog</title>
  <link rel="stylesheet" href="styles.css"> <!-- Optional: Link to an external CSS file for styling -->
  <script src="https://kit.fontawesome.com/ecf2e8b1bd.js" crossorigin="anonymous"></script>
  <!-- Link for Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <header class="header">
    <div class="table-container">
      <table>
        <tr>
          <td>
            <img src="electronicDocuments.jpeg" alt="Image">
          </td>
          <td>
            <h1>Welcome to ITBlog</h1>
            <nav class="navbar navbar-expand-sm navbar-light bg-light" aria-label="Third navbar example">
                <div class="container-fluid">
                  <a class="navbar-brand" href="index.html">ITBlog</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
            
                  <div class="collapse navbar-collapse" id="navbarsExample03">
                    <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">MS Word</a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="word1.6.5.23.html">Word Part 1</a></li>
                          <li><a class="dropdown-item" href="word2.6.5.23.html">Word Part 2</a></li>
                          <li><a class="dropdown-item" href="wordcheatSheet.html">Word HotKey Cheat Sheet</a></li>
                          <li><a class="dropdown-item" href="commonWordIssues.html">Word Common Issues</a></li>
                        </ul>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">PowerPoint</a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="powerPoint6.14.23.html">PowerPoint Part 1</a></li>
                          <li><a class="dropdown-item" href="#">Future Blog</a></li><!-- PowerPoint Part 2 -->
                          <li><a class="dropdown-item" href="#">Future Blog</a></li><!-- Word HotKey Cheat Sheet -->
                          <li><a class="dropdown-item" href="#">Future Blog</a></li><!-- PowerPoint Common Issues -->
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
          </td>
        </tr>
      </table>
    </div>
  </header>